body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.header, .header-links, 
.hero, .footer{
    background-color: #1f2937;
    color: #f9faf8;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.head-logo{
    height: auto;
    width: 150px;
    padding: 10px;
}


.hero{
    display: flex;
    justify-content: center;
    padding: 30px 100px;
}

.hero-info{
    display: flex;
    flex-direction: column;
    padding-right: 30px;
}

.hero-main{
    font-size: 48px;
    font-weight: 900;
}

.hero-secondary{
    font-size: 18px;
    color: #e5e7eb;
    align-self: center;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.info h2{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.info img{
    border-radius: 10px;
    width: 325px;
    height: 272px;
}

.boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
}

.content{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.sign-up,
.cta{
    background-color: #3882f6;
    width: 200px;
    height: auto;
}

.quote-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    flex-grow: .5;
}

.quote-container h5{
    font-size: 36px;
    font-weight: lighter;
    color: #1f2937;
    padding: 25px;
}

.quote-container p{
    font-size: 26px;
}

.action{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 200px;
}

.cta-container{
    background-color: #3882f6;
    border-radius: 10px;
    width: 1000px;
    height: auto;
}

.cta-text{
    text-align: center;
}

a{
    text-decoration: none;
    color: #f9faf8;
}

.action button{
    margin-left: 375px;
    margin-bottom: 10px;
}

ul{
    list-style: none;
    gap: 20px;
    display: flex;
    text-decoration: underline;
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}